* {
    box-sizing: border-box;
}

body {
    background: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    color: #969696;
}

/* utilities */

.on-view {
    display: block;
}

.isSelected {
    color: #fff700;
    font-weight: 900; 
}

/* search section */

#search-section .container {
    display: flex;
    width: 100%;
    margin: 30px 0;
    padding: 0 30px;
}

#search-section .container .toggle-lists {
    color: #969696;
    background: none;
    border: none;
}

#search-section .container .search-portion {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#search-form {
    display: flex;
    justify-content: center;
    width: 400px;
    border: 1px solid #969696;
    border-radius: 10px;
}

#search-form #query {
    flex-grow: 1;
    color: #fff;
    background: none;
    border: none;
    padding: 8px 20px;
}

#search-form #query:focus {
outline: none;
}

#search-form button {
    color: #969696;
    background: none;
    border: none;
    border-left: 1px solid #969696;
    padding: 0 15px;
}

/* selection tv or movies */

#selection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    color: #969696;
}

#selection .container {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

#selection .container a {
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 500;
}


/* film container */
.film-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 30px;
}


/* card item */

.card-item {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-item h2 {
    align-self: start;
}

.card-item img {
    width: 100%;
}

.card-item-2 {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-item-2 img {
    width: 100%;
}

.card-item .bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.card-item-2 .bottom {
    width: 100%;
    text-align: left;
}

.card-item .bottom button {
    border: none;
    background: none;
    color: #fff;
}

/* add to list popup */

#add-to-list-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    background: #33333360;
    display: none;
}

#add-to-list-popup .container {
    color: #fff;
    background: #292929;
    padding: 15px;
    border-radius: 10px;
    min-width: 180px;
}

#add-to-list-popup .container .close-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

#add-to-list-popup .container .close-container button {
    color: #fff;
    background: none;
    border: none;
}

#create-list {
    display: none;
}

/* lists popup */

.toggle-lists {
    position: relative;
}

#list-name-films {
    display: flex;
    justify-content: space-between;
}

.list-container {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 8;
    width: 200px; 
    max-height: 150px;   
    background: #292929;
    padding: 0 15px;
    border: #2d2c05 solid 3px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list-container::-webkit-scrollbar {
    width: 12px; /* width of the scrollbar */
}
  
.list-container::-webkit-scrollbar-thumb {
    background-color: #404040; /* color of the thumb */
    border-radius: 6px; /* rounded corners of the thumb */
}
  
.list-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* color of the track */
    border-radius: 10px;
}

.list-container scrollbar {
    width: 12px;
}
  
.list-container scrollbar-thumb {
    background-color: #404040; /* color of the thumb */
    border-radius: 6px; /* rounded corners of the thumb */
}
  
.list-container scrollbar-track {
    background-color: #f1f1f1; /* color of the track */
    border-radius: 10px;
}

.list-container ul {
    list-style: none;
    padding: 0;
    overflow: auto;
}

.list-container ul li {
    padding: 10px 0;
}

.list-container ul li a {
    color: #fff700;
    text-decoration: none;
    display: flex;
    font-size: 1.2em;
    font-weight: 600;
    justify-content: space-between;
}

/* display list page */

/* Swiper JS */

.swiper {
    width: 80%;
    height: 600px;
}

#list-header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    color: #fff700;
}

#list-header .container h1 {
    font-size: 3em;
    margin: 0;
}

/* responsiviness */

@media only screen and (max-width: 1100px) {
    .film-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 850px) {
    .film-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 640px) {
    .film-container {
        grid-template-columns: repeat(1, 1fr);
    }
}